/* --------------------------
 * INFO BOX
 * --------------------------
*/
.intel-ifbx {
  border: 1em solid #edeff0;
  margin: 1em; }

/*** Content ***/
.intel-ifbx-content {
  padding: 0.5em 1.0em 0 1.0em; }

/*** Header ***/
.intel-ifbx-hdr {
  background: #0071c5;
  color: white;
  display: block;
  padding: 0;
  margin: 0; }

.intel-ifbx-hdr-title {
  display: inline-block;
  font-size: 1.15em;
  padding: 1em 0 1em 0; }

.intel-ifbx-hdr-title span {
  display: inline-block;
  padding-left: 0.5em; }

.intel-ifbx-hdr-graphic-btm,
.intel-ifbx-hdr-graphic-top {
  display: inline-block;
  position: relative;
  text-align: right; }

.intel-ifbx-hdr-graphic-btm {
  vertical-align: bottom; }

.intel-ifbx-hdr-graphic-top {
  vertical-align: top; }

/*** INFO BOX PEEL ***/
.intel-ifbx-peel-right-btm,
.intel-ifbx-peel-right-btm-drk,
.intel-ifbx-peel-right-top,
.intel-ifbx-peel-right-top-wht {
  display: inline-block;
  margin: 0;
  min-height: 2em;
  padding: 0;
  width: 4em; }

/*** Standard Color ***/
.intel-ifbx-peel-right-btm {
  padding-top: 0.15em;
  right: 0;
  vertical-align: bottom; }

.intel-ifbx-peel-right-top {
  padding-bottom: 0.15em;
  right: 0;
  vertical-align: top; }

/*** Alternate Color ***/
.intel-ifbx-peel-right-btm-drk {
  padding-top: 0.15em;
  right: 0;
  vertical-align: bottom; }

.intel-ifbx-peel-right-top-wht {
  padding-bottom: 0.15em;
  right: 0;
  vertical-align: top; }
