/* --------------------------
 * LISTVIEW
 * --------------------------
*/
.intel-listview {
  list-style: none;
  margin: 1.0em 0.5em;
  border: 0.5em solid #edeff0;
  padding: 0; }

.intel-listview li {
  color: #53565a;
  background: white;
  border-color: #d3d8db;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 0.5em 1.5em 0.5em 0.5em;
  position: relative; }

.intel-listview li:first-child {
  border-top-width: 1px; }

.intel-listview li:active,
.intel-listview li:hover {
  background: #00aeef;
  color: white; }

.intel-listview li:active a,
.intel-listview li:hover a {
  color: white;
  text-decoration: none; }

.intel-listview li a {
  color: #53565a;
  width: 100%; }

.intel-listview li a:hover {
  text-decoration: none; }

.intel-listview li a:after {
  color: #0071c5;
  content: '>';
  font-weight: bold;
  position: absolute;
  right: 0.5em;
  -moz-transform: scaleY(1.5);
  -webkit-transform: scaleY(1.5);
  transform: scaleY(1.5); }

.intel-listview li:hover a:after {
  color: white; }

@media (max-width: 480px) {
  .intel-listview li a:after {
    right: 1em; } }
