/* --------------------------
 * RADIOBUTTONS & CHECKBOXES
 * --------------------------
*/
/*** Radio & Checkbox ***/
.intel-checkbox,
.intel-radio {
  min-height: 1.25em;
  padding-left: 0; }

.intel-checkbox input[type="checkbox"],
.intel-radio input[type="radio"] {
  cursor: pointer;
  display: none;
  margin: 0 0 0 0;
  width: auto; }

.intel-checkbox label,
.intel-radio label {
  color: #53565a;
  cursor: pointer;
  display: list-item;
  font-family: "Open Sans", Arial;
  line-height: 1.65em;
  list-style: none;
  margin-bottom: 0.5em;
  margin-right: 1.0em;
  padding-left: 2.5em;
  position: relative; }

/* The border */
.intel-checkbox label:before,
.intel-radio label:before {
  background-color: white;
  border: 1px solid #0071c5;
  border-radius: 100%;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1.65em;
  left: 0;
  margin-right: 1em;
  position: absolute;
  top: 0;
  width: 1.65em; }

/* The symbol */
.intel-checkbox label:after,
.intel-radio label:after {
  content: "";
  display: inline-block;
  height: 1.65em;
  margin-right: 1em;
  position: absolute;
  width: 1.65em; }

.intel-checkbox input[disabled] + label:before,
.intel-radio input[disabled] + label:before {
  border-color: #e1e5e7; }

.intel-checkbox input[disabled] + label,
.intel-radio input[disabled] + label {
  color: #b1babf; }

/*** Radio ***/

.intel-radio:after {
  clear: both;
  content: "";
  min-height: 1%; }

/* The dot */
.intel-radio input[type="radio"]:checked + label:after {
  background-color: #0071c5;
  border-radius: 100%;
  content: "";
  font-family: "Open Sans", Arial;
  height: 1.0em;
  left: 6px;
  text-align: center;
  width: 1.0em;
  top: 6px; }

/*** Checkbox ***/
.intel-checkbox {
  margin: 1.0em 0; }

.intel-compact .intel-checkbox {
  display: inline-block;
  margin-left: 0.5em; }

.intel-checkbox label {
  margin-bottom: 0.7em; }

.intel-checkbox label:before {
  border-radius: 0.215em; }

/* The checkmark */
.intel-checkbox input[type="checkbox"]:checked + label:after {
  color: #0071c5;
  content: "\2713";
  font-size: 2em;
  left: -0.3333em;
  text-align: center;
  z-index: 10; }

/*** FROMS@MOBILE ***/
@media (max-width: 480px) {
  .intel-radio label {
    display: block; }

  .intel-radio input[type="radio"]:checked + label:after {
    top: 6px;
    left: 6px; } }
