/*

▼	main style	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/



body {

	font-size:14px;

	font-family:Tahoma, Geneva, sans-serif;

}



/*

▼	page style	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/

.menu{

	float:right;

	}

#jsddm{

	margin-right:10px;

	float:right;

	}

#jsddm li{

	float:right;

	}

#jsddm li a{

	float:right;

	background:url(../images/menu-border.jpg) no-repeat left;

	}

#jsddm li ul{

	float:right;

	}	

#jsddm li ul li a{

	width:94%;

	}		

#jsddm li ul li a:hover{

    background:#dddddd;

	color:#ab001e;

	opacity:1;

	}

.logo{

	margin-right:15px;

	float:right;

	}

.lang-contaner{

	float:left;

	margin-right:0px;

	margin-left:10px;

	}

.lang{

	float:left;

    margin-left:0px;

	margin-right:5px;

	}

.last{

    margin-right:0px;;

	}

.theme-default .nivo-controlNav a {

	margin-left:3px;

	float:right !important;

}
.nivo-caption {

	margin-left:140px !important;

}

.caption-border{

	float:right;

	margin-left:10px;

	margin-right:0px;

	}

.caption-text{

	direction:rtl;

	text-align:right;

	}

.theme-default .nivo-caption a {

	margin-right:0px;

}

.left-container{

	float:right;

	}

.right-container{

	float:right;

	margin-right:20px;

	margin-left:0px;

	}

.welcome-title{

	text-align:right;

	direction:rtl;

	}

.welcome-text{

	text-align:right;

	direction:rtl;

	}

	.home-news-title{

	text-align:right;

	direction:rtl;

	}

.home-news-container-one{

float: right;

margin-left: 20px;

margin-right:0px;

}

.home-news-last{

	float:right;

	margin-left:0px;

}

.home-news-container-one-title{

	text-align:right;

	direction:rtl;

	}

.home-news-container-one-text{

	text-align:right;

	direction:rtl;

	}

.home-news-container-one-text a{

	float:left;

	line-height:18px;

	}

.home-Project-title{

	text-align:right;

	direction:rtl;

	}

.home-Project-img{

	float:right;

	}

.home-Project-one-title{

	float:right;

	margin-left:0px;

	margin-right:10px;

	text-align:right;

	direction:rtl;

	}

.home-Project-one-text{

	float:right;

	margin-left:0px;

	margin-right:10px;

	text-align:right;

	direction:rtl;

	}

	.home-Project-one-text a{

	float:left;

	line-height:18px;

	}

/*about*/	

.about-title {

text-align:right;

direction:rtl;

}

.about-text {

text-align:right;

direction:rtl;

}

/*end about*/

/*service*/	

.service-title{

text-align:right;

direction:rtl;

	}

.service-container-one{



	float:right;

	margin-right:0px;

	margin-left:15px;

	}

.service-img{

	float:right;

	}

.service-title-one{

	text-align:right;

direction:rtl;

	float:right;

	margin-left:0px;

	margin-right:10px;

	}

.service-text-one{

	text-align:right;

direction:rtl;

	loat:right;

	margin-left:0px;

	margin-right:10px;

	}

/*end service*/	

/*control*/	

.next{

	float:left;

	background:url(../images/back.jpg) left no-repeat;

	padding-left:12px;

	}

.back{

	float:right;

	background:url(../images/next.jpg) right no-repeat;

	padding-right:12px;

	}



/*end control*/

/*news*/

.news-img{

	float:right;

	}

.news-title-one{

	float:right;

	margin-left:0px;

	margin-right:10px;

		text-align:right;

direction:rtl;

	}

.news-text-one{

	float:right;

	margin-left:0px;

	margin-right:10px;

		text-align:right;

direction:rtl;

	}

	.news-text-one a{

	float:left;

	line-height:18px;

	}

/*slider*/

.news-slider-inner{

		margin-left:0px;

		margin-right:10px;

		margin-left:0px;

		float: left;

	}

.news-slider{

		float: left;



	}

.news-inner-container{

	float:right;

	}



	/*end slider*/



.news-inner-title{

float:right;

		text-align:right;

direction:rtl;

	}

.news-inner-text{

	float:right;

		margin-left:0px;

	margin-right:10px;

			text-align:right;

direction:rtl;

	}

.backtonews{

	float:left;

	background:url(../images/next.jpg) right no-repeat;

	padding-right:12px;

	padding-left:0px;

	}

/*end news*/

/*clint*/	

.clint-container-one{

	float:right;

	margin-right:0px;

	margin-left:15px;

	}

.clint-img{

	float:right;

	}

.clint-title-one{

	float:right;

	margin-left:0px;

	margin-right:10px;

			text-align:right;

direction:rtl;

	}

.clint-text-one{

	margin-left:0px;

	margin-right:10px;

	float:right;

			text-align:right;

direction:rtl;



	}

/*end clint*/

/*Project*/	

.project-container-one{

	float:right;

	margin-left:10px;

	margin-right:0px;

	}

.project-container-one-last{

	margin-left:0px;

	}

/*slider*/

.project-slider-inner{

		margin-left:0px;

		margin-right:10px;

		margin-left:0px;

		float: left;

	}

.project-slider{

		float: left;



	}

.project-inner-container{

	float:right;

	}



	/*end slider*/



.project-inner-title{

float:right;

		text-align:right;

direction:rtl;

	}

.project-inner-text{

	float:right;

		margin-left:0px;

	margin-right:10px;

			text-align:right;

direction:rtl;

	}

.backtoproject{

	float:left;

	background:url(../images/next.jpg) right no-repeat;

	padding-right:12px;

	padding-left:0px;

	}

/*end Project*/

/*contact*/

.map-contaner{

	float:left;

	margin-right:0px;

margin-left:10px;

	}

.map{

	float:left;



	}

.contact-text-title{

	float:right;

	margin-left:0px;

	margin-right:10px;

				text-align:right;

direction:rtl;

}

	

.contact-text-contaner{

	float:right;

	margin-left:0px;

	margin-right:10px;

				text-align:right;

direction:rtl;

	}

.contact-form-contaner{

	float:right;

	margin-left:0px;

	margin-right:10px;

				text-align:right;

direction:rtl;

	}

.contact-form-text{

	float:right;

				text-align:right;

direction:rtl;

	}

.contact-form-input input{

	float:right;
font-family:Tahoma, Geneva, sans-serif;
	}

.contact-form-input textarea{

float:right;
font-family:Tahoma, Geneva, sans-serif;
	}

.contact-form-input label{

float:right;
font-family:Tahoma, Geneva, sans-serif;
	}

.contact-form-supmet{

	float:left;

	margin-left:7px;

	margin-right:0px;

	}
.contact-form-supmet input{
font-family:Tahoma, Geneva, sans-serif !important;

	}
.contact-form-error{

    float: right;

    margin-left: 0px;

	margin-right: 135px;

				text-align:right;
	}
	.contact-form-input label{

margin-right: 126px;
margin-left: 0px;
float: right;
width:227px;

	}

/*end contact*/

.footer-menu ul li{

	float:right;

	}