/*

▼	main style	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/

.f {

	float:left;

}

.f-r {

	float:right;

}

a {

	text-decoration:none;

}

img {

	border:0;

}

body {

	background:url(../images/background.jpg) #FFF center top no-repeat;

	margin:0px;

	padding:0px;

	font-size:14px;

	font-family:Arial, Helvetica, sans-serif;

}

p{

	margin:0px;

	padding:0px;

	}

.clear {

	clear:both;

}

/*

▼	header style	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/

.main-container {

	width:1000px;

	margin:0 auto;

}

.header {

	width:1000px;

	height:142px;

	float:left;

	}

.menu{

	width:1000px;

	height:37px;

	border-radius:0 0 10px 10px;

	background:url(../images/menu-back.jpg) repeat-x;

	float:left;

	}

	/*drop down menu*/

#jsddm{

	margin:0;

	padding:0;

	list-style:none;

	width:990px;

	margin-left:10px;

	}

#jsddm li{

	display:block;

	float:left;

	height:37px;

	line-height:37px;

	color:#FFF;

	}

#jsddm li a{

	float:left;

	height:37px;

	line-height:37px;

	color:#FFF;

	padding-left:25px;

	padding-right:25px;

	background:url(../images/menu-border.jpg) no-repeat right;

	}

#jsddm li a:hover{

	color:#ab001e;

	background:url(../images/menu-hover-bg.jpg) repeat-x;

	}

#jsddm li .current{

	color:#ab001e;

	background:url(../images/menu-hover-bg.jpg) repeat-x;

	}

#jsddm li ul{

	margin: 0;

	padding: 0;

	position: absolute;

	visibility: hidden;

	background-color:#f2f2f2;

	border:1px #9d9d9d solid;

	z-index:4000;

	top:37px;

	margin-left:-1px;

	}

		

#jsddm li ul li{

	float: none;

	display: block;

	}

			

#jsddm li ul li a{

	width:auto;

	background: #f2f2f2;

	color: #ab001e;

	border-radius:0 0 0 0 ;

	text-align:center;

	float:left;

	margin-left:0px;

	width:96%;

	padding-left:15px;

	padding-right:15px;

	border-bottom:1px #9d9d9d solid;

	}

			

#jsddm li ul li a:hover{

    background:#dddddd;

	color:#ab001e;

	opacity:1;

	}

	/*end drop down menu*/

.logo{

	width:153px;

	height:76px;

	margin-top:10px;

	margin-left:15px;

	float:left;

	}

.lang-contaner{

	float:right;

	margin-right:10px;

	border-radius:0 0 10px 10px;

	background-color:#fff;

	padding:7px;

	padding-top:4px;

	padding-bottom:5px;

	}

.lang{

	float:right;

    margin-left:5px;

	color:#494949;

	font-weight:bold;

	font-size:12px;

	}

.last{

    margin-left:0px;;

	}

.lang a{

	color:#494949;

	}

.lang a:hover{

	color:#d20025;

	}

.lang a.current{

	color:#d20025;

	}

.ar{

	font-family:Tahoma, Geneva, sans-serif;

	}

/*

▼	page style	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/

.container{

	width:1000px;

	border-radius: 10px 10px 0 0;

	float:left;

	background-color:#FFF;

	padding-bottom:20px;
	min-height:480px;

	}

	/*slider*/

.home-slider{

	margin:10px auto 0 auto;

	margin-left: 10px;

	}

.home-slider .nivo-control{

	display:block !important;

	}

.slider-contaner {

    background: url("../images/banner-curves.png") no-repeat scroll 0 0 transparent;

    float: left;

    height: 291px;

    position: relative;

    width: 980px;

    z-index: 280;

	margin-top: 10px;

    margin-left: 10px;

}

.caption-text{

	color:#fff;

	}

a.caption-text{

	color:#d20025 !important;

	cursor:pointer;

	}

.caption-border{

	height:60px;

	width:6px;

	float:left;

	background-color:#d20025;

	margin-right:10px;

	}

	/*end slider*/

.home-container{

	float:left;

	width:980px;

	margin-left:10px;

	margin-top:35px;

	}

.left-container{

	float:left;

	width:570px;

	}

.right-container{

	float:left;

	width:390px;

	margin-left:20px;

	}

	/*welcome*/

.welcome{

	width:570px;

	float:left;

	background:url(../images/welcome-back.jpg) bottom center no-repeat;

	padding-bottom: 22px;

	}

.welcome-title{

	width:570px;

	float:left;

	color:#d20025;

	font-size:18px;

	font-weight:bold;

	margin-bottom:5px;

	}

.welcome-text{

	width:570px;

	float:left;

	color:#494949;

	line-height:18px;
	}

	/*end welcome*/

	/*home-news*/

.home-news{

	width:570px;

	float:left;

	}

.home-news-title{

	width:570px;

	float:left;

	color:#d20025;

	font-size:18px;

	font-weight:bold;

	margin-bottom:5px;

	}

.home-news-container{

	width:570px;

	float:left;

	}

.home-news-container-one{

	width:172px;

	float:left;

	margin-right:20px;

}

.home-news-last{

	width:172px;

	float:left;

	margin-right:0px;

}

.home-news-container-one-img{

	width:170px;

	height:99px;

	border:1px solid #d20025;

	float:left;

	}

.home-news-container-one-img img{

	width:170px;

	height:99px;

	}

.home-news-container-one-title{

	width:170px;

	float:left;

	color:#d20025;

	font-weight:bold;

	margin-top:5px;

	margin-bottom:5px;

	}

.home-news-container-one-text{

	width:170px;

	float:left;

	color:#494949;

	}

.home-news-container-one-text a{

	color:#d20025;

	font-size:10px;

	}

	/*end home-news*/

	/*home-Project*/

.home-Project-title{

	width:390px;

	float:left;

	color:#d20025;

	font-size:18px;

	font-weight:bold;

	margin-bottom:5px;

	}

.home-Project-container{

	width:390px;

	float:left;

	}

.home-Project-container-one{

	width:390px;

	float:left;

	background:url(../images/project-back.jpg) center bottom no-repeat; 

	padding-bottom: 26px;

margin-top: 2px;

	}

.last-Project-one{

	background:none; 

	padding-bottom: 0px;

	}

.home-Project-img{

	width:128px;

	height:100px;

	float:left;

	border:1px solid #d20025;

	}

.home-Project-img img{

	width:128px;

	height:100px;

	}

.home-Project-one-title{

	width:250px;

	float:left;

	color:#d20025;

	font-weight:bold;

	margin-left:10px;

	margin-bottom:5px;

	margin-top:5px;

	}

.home-Project-one-text{

	width:250px;

	float:left;

	color:#494949;

	margin-left:10px;

	line-height:18px;

	}

.home-Project-one-text a{

	color:#d20025;
    margin-left:5px;
	font-size:10px;

	}

	/*end home-Project*/

/*about*/	

.about-img {

width: 980px;

height: 291px;

margin-left: 10px;

float: left;

border-radius:10px;

margin-top:10px;

overflow:hidden;

}

.about-img img {

    width:980px; 

    height:291px; 

}

.about-title {

width: 980px;

	float:left;

	color:#d20025;

	font-size:18px;

	font-weight:bold;

	margin-bottom:5px;

	margin-top:15px;

	margin-left:10px;

	margin-right:10px;



}

.about-text {

width: 980px;

	float:left;

	color:#494949;

	margin-left:10px;

	margin-right:10px;

}

/*end about*/

/*service*/	

.service-title{

	width: 980px;

	float:left;

	color:#d20025;

	font-size:18px;

	font-weight:bold;

	margin-bottom:5px;

	margin-top:15px;

	margin-left:10px;

	margin-right:10px;

	}

.service-container{

	width: 980px;

	float:left;

	margin-top:5px;

	margin-left:10px;

	margin-right:10px;

	}

.service-container-one{

	width:475px;

	float:left;

	background:url(../images/service-back.jpg) center bottom no-repeat;

	padding-bottom:25px;

	margin-right:15px;

	margin-bottom:5px;

	}

.service-img{

	width:130px;

	height:130px;

	float:left;

	border:1px solid #d20025;

	}

.service-img img{

	width:130px;

	height:130px;

	}

.service-title-one{

	width:332px;

	float:left;

	color:#d20025;

	font-weight:bold;

	margin-left:10px;

	margin-bottom:5px;

	}

.service-text-one{

	width:332px;

	float:left;

	color:#494949;

	margin-left:10px;

	line-height:18px;
height:110px;
overflow:hidden;
	}

/*end service*/	

/*control*/	

.conrtrol-container{

	width:980px;

	height:35px;

	float:left;

	margin-left:10px;

	margin-right:10px;

	}

.next{

	width:28px;

	height:35px;

	float:right;

	background:url(../images/next.jpg) right no-repeat;

	padding-right:12px;

	line-height:35px;

	color:#494949;

	}

.next a{

	color:#494949;

	}

.next a:hover{

	color:#d20025;

	}

.back{

	width:28px;

	height:35px;

	float:left;

	background:url(../images/back.jpg) left no-repeat;

	padding-left:12px;

	line-height:35px;

	color:#494949;

	}

.back a{

	color:#494949;

	}

.back a:hover{

	color:#d20025;

	}

/*end control*/

/*news*/

.news-container-one{

	width:980px;

	float:left;

	background:url(../images/footer-back.jpg) bottom center no-repeat;

	padding-bottom:25px;

	}

.news-img{

	width:130px;

	height:76px;

	float:left;

	border:1px solid #d20025;

	}

.news-img img{

	width:130px;

	height:76px;

	}

.news-title-one{

	width:835px;

	float:left;

	color:#d20025;

	font-weight:bold;

	margin-left:10px;

	margin-bottom:5px;

	}

.news-title-one a{

	color:#d20025;

	}

.news-text-one{

	width:830px;

	float:left;

	color:#494949;

	margin-left:10px;

	line-height:18px;

	}

.news-text-one a{

	color:#d20025;

	font-size:10px;

	}

.news-text-one a:hover{

	color:#d20025;

}

/*slider*/



.news-slider .nivo-control{

	display:block !important;

	}

.news-slider-inner{

	    width:414px !important;

		height:279px !important;

		margin-left:10px;

		float: right;

	}

.news-slider{

	    width:414px !important;

		height:243px !important;

		float: right;

		border:1px solid #d20025;

	}

.about-slider .nivo-prevNav, .about-slider .nivo-nextNav{

	display:none !important;

	}

.about-slider .nivo-control{

	display:block !important;

	}

	/*end slider*/

/*slider*/



.project-slider .nivo-control{

	display:block !important;

	}

.project-slider-inner{

	    width:485px !important;

		height:380px !important;

		margin-left:10px;

		float: right;

	}

.project-slider{

	    width:485px !important;

		height:340px !important;

		float: right;

		border:1px solid #d20025;

	}

	/*end slider*/

.news-inner-container{

	width:980px;

	float:left;

	}

.news-inner-title{

	width:540px;

	float:left;

		color:#d20025;

	font-weight:bold;

	margin-bottom:5px;

	}

.news-inner-text{

		width:980px;

	float:left;

	color:#494949;

	margin-left:10px;

	}

.backtonews{


	height:35px;

	float:right;

	background:url(../images/back.jpg) left no-repeat;

	padding-left:12px;

	line-height:35px;

	color:#494949;

	font-weight:100;

	font-size:14px;

	}

.backtonews a{

	color:#494949;

	}

.backtonews a:hover{

	color:#d20025;

	}

/*end news*/

/*clint*/	

.clint-container-one{

	width:475px;

	float:left;

	background:url(../images/service-back.jpg) center bottom no-repeat;

	padding-bottom:25px;

	margin-right:15px;

	margin-bottom:5px;

	}

.clint-img{

	width:130px;

	height:76px;

	float:left;

	text-align:center;

	}

.clint-img img{

	max-width:130px;

	max-height:76px;



	}

.clint-title-one{

	width:332px;

	float:left;

	color:#d20025;

	font-weight:bold;

	margin-left:10px;

	margin-bottom:5px;

	margin-top: 18px;

	}

.clint-text-one{

	width:332px;

	float:left;

	color:#494949;

	margin-left:10px;

	line-height:18px;

	}

.clint-text-one a{

	color:#494949;

	}

.clint-text-one a:hover{

	color:#d20025;

	}

/*end clint*/	

/*Project*/	

.project-container-one{

	width:237px;

	float:left;

	background:url(../images/project-back-2.jpg) center bottom no-repeat;

	padding-bottom:15px;

	margin-right:10px;

	margin-bottom:8px;

	}

.project-container-one-last{

	margin-right:0px;

	}

.project-img{

	width:235px;

	height:165px;

	float:left;

	border:1px solid #d20025;

	}

.project-img img{

	width:235px;

	height:165px;



	}

.project-title-one{

	width:235px;

	float:left;

	color:#d20025;

	font-weight:bold;

	text-align:center;

	height:30px;

	line-height:30px;

	overflow:hidden;

	}



.project-title-one a{

	color:#d20025;

	}

.project-title-one a:hover{

	color:#d20025;

	}

	.project-inner-title{

	width:480px;

	float:left;

		color:#d20025;

	font-weight:bold;

	margin-bottom:5px;

	}

.project-inner-text{

		width:980px;

	float:left;

	color:#494949;

	margin-left:10px;

	}

.backtoproject{


	height:35px;

	float:right;

	background:url(../images/back.jpg) left no-repeat;

	padding-left:12px;

	line-height:35px;

	color:#494949;

	font-weight:100;

	font-size:14px;

	}

.backtoproject a{

	color:#494949;

	}

.backtoproject a:hover{

	color:#d20025;

	}

/*end Project*/

/*contact*/

.map-contaner{

	width:594px;

	height:430px;

	float:right;

	margin-right:10px;



	}

.map{

	width:573px;
	height:412px;
	color:#000;
	float:right;
	border:#d20025 1px solid;
}

.contact-text-title{

	width:316px;

	float:left;

	color:#d20025;

	line-height:20px;

	margin-top:30px;

	font-weight:bold;

	font-size:14px;

	margin-bottom:5px;

	margin-left:10px;

}

	

.contact-text-contaner{

	width:360px;

	margin-left:10px;

	color:#494949;

	float:left;

	line-height:20px;

	}

.contact-form-contaner{

	width:360px;

		float:left;

		color:#494949;

			margin-left:10px;

	}

.contact-form-text{

	float:left;

	width:125px;

	line-height:29px;

	margin-bottom: 5px;

	}

.contact-form-input input{

	width:216px;

	float:left;

	height:17px;

	border:#e4e4e4 1px solid;

	background-color:#fcfcfc;

	padding:5px;

	color:#9d9d9c;

	margin-top:5px;

	}

.contact-form-input textarea{

	width:216px;

	float:left;

	height:100px;

	border:#e4e4e4 1px solid;

	background-color:#fcfcfc;

	padding:5px;

	color:#9d9d9c;

	margin-top:5px;

	}

.contact-form-input label{

	line-height: 20px;

margin-left: 126px;

margin-bottom: 1px;

float: left;

font-size: 10px;

color: red;
width:227px;

	}

.contact-form-supmet{

	width:86px;

	float:right;

	height:29px;

	background-color:#d20025;

	margin-right:7px;

	margin-top:5px;

	}
.contact-form-supmet input{

	background: none;
border: none;
text-align: center;
width: 86px;
line-height: 23px;
color: #fff;
cursor: pointer;

	}
.contact-form-supmet input:hover{


color: #000;


	}

.contact-form-supmet a{

	width:86px;

	float:right;

	height:29px;

	color:#fff;

	line-height:27px;

	text-align:center;

	cursor:pointer;

	}

.contact-form-error{

color: #FF0000;

    float: left;

    line-height: 29px;

    margin-left: 135px;

    width: 152px;

	}

/*end contact*/

	/*

▼	footer	

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

*/

.footer{

	width:980px;

	padding-left:10px;

	padding-right:10px;

	float:left;

	background:url(../images/footer-back.jpg) no-repeat top center #FFFFFF;

	padding-top:8px;

	}

.footer-menu{

	width:500px;

	margin:0 auto;

	text-align:center;

	}

.footer-menu ul{

		margin:0;

	padding:0;

	list-style:none;

	text-align:center;

	}

.footer-menu ul li{

	display:block;

	float:left;

	height:37px;

	line-height:37px;

	color:#494949;

	margin-left:5px;

	margin-right:5px;

	font-size:12px;

	}

.footer-menu ul li a{

	color:#494949;

	}

.footer-menu ul li a:hover{

	color:#d20025;

	}

.footer-menu ul li .current{

	color:#d20025;

	}

.footer-text{

		width:500px;

	margin:0 auto;

	text-align:center;

	clear:both;

	color:#494949;

	font-size:12px;

	margin-bottom:10px;

	}