/* --------------------------
 * TABLE
 * --------------------------
*/
/*** TABLE HEADERS ***/
.intel-table-header {
  color: #53565a;
  display: inline-block;
  padding-right: 0.5em; }

.intel-table-subheader {
  border-left: 1px solid #d3d8db;
  color: #53565a;
  display: inline-block;
  margin-left: 0.5em;
  padding-left: 1em; }

/*** Table ***/
.intel-table {
  border: 1px solid #d3d8db;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width:100%;
  margin-bottom:5px;
  }

.intel-table thead {
  color: #53565a;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap; }

/* First row in thead has darker fill */
/* All rows in tfoot match 1st thead row */
.intel-table thead tr:first-child {
  background-color: #e1e5e7; }

.intel-table tfoot tr {
  background-color: #edeff0; }

/* Subsequent rows in thead have white fill */
.intel-table thead tr {
  background-color: white; }

/* Every row border should be same */
.intel-table tr {
  border: 1px solid #d3d8db; }

.intel-table td,
.intel-table th {
  border-left: 1px solid #d3d8db;
  color: #53565a;
  margin: 0;
  overflow: visible;
  padding: 0.4em 0.8em;
  text-align:center; }

.intel-table td {
  background-color: transparent; }

.intel-table th {
  font-weight: bold;
  text-align: center;
  white-space: nowrap; }

.intel-table th.intel-right {
  text-align: center; }

/* For rows requiring emphasis in tbody */
.intel-table tr.intel-tr-bold td {
  font-weight: bold; }

.intel-table tr.intel-tr-bold + tr {
  border-top: 1px solid #d3d8db; }

.intel-table td.intel-td-bold {
  color: #53565a;
  font-weight: bold; }

/* Alternating Rows - Zebra effect */
.intel-table.intel-table-zebra > tr:nth-child(even),
.intel-table.intel-table-zebra tbody tr:nth-child(even) {
  background-color: #f7f8f9; }

/* Highlights for table cells */
/* Orange */
.intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-orange,
.intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-orange {
  background-color: #f37021;
  box-shadow: 0 0 0 4px #f7f8f9 inset;
  color: white; }

.intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-orange,
.intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-orange,
.intel-table td.intel-td-orange {
  background-color: #f37021;
  box-shadow: 0 0 0 4px white inset;
  color: white; }

/* Green */
.intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-green,
.intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-green {
  background-color: #a6ce39;
  box-shadow: 0 0 0 4px #f7f8f9 inset;
  color: white; }

.intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-green,
.intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-green,
.intel-table td.intel-td-green {
  background-color: #a6ce39;
  box-shadow: 0 0 0 4px white inset;
  color: white; }

/* Yellow */
.intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-yellow,
.intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-yellow {
  background-color: #fdb813;
  box-shadow: 0 0 0 4px #f7f8f9 inset;
  color: white; }

.intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-yellow,
.intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-yellow,
.intel-table td.intel-td-yellow {
  background-color: #fdb813;
  box-shadow: 0 0 0 4px white inset;
  color: white; }

/*** IE10 Box Shadow fix ***/
.intel-table td.intel-td-orange,
.intel-table td.intel-td-green,
.intel-table td.intel-td-yellow {
  border-collapse: separate; }

/*** SORTABLE ***/
.intel-table.intel-sortable thead tr:first-child th {
  background: #0071c5;
  border: 1px solid #0055a5;
  color: white;
  cursor: pointer;
  padding-right: 1.5em;
  position: relative; }

.intel-table.intel-sortable thead tr:first-child th:after {
  border-color: white transparent transparent transparent;
  border-width: 0.5em;
  bottom: -0.25em;
  height: 0.75em;
  right: 0.25em;
  z-index: 5; }

.intel-table.intel-sortable thead tr:first-child th:after {
  border-style: solid;
  content: ' ';
  position: absolute;
  width: 0;
  z-index: 5; }

/*** TABLE@TABLET ***/
@media (max-width: 768px) {
  .intel-table-header {
    display: block;
    margin-left: 0.5em; }

  .intel-table-subheader {
    border-left: 0;
    display: block;
    margin-left: 0.5em;
    padding-left: 0; } }
/*** TABLE@MOBILE ***/
@media (max-width: 480px) {
  .intel-table {
    width: 100%; }

  .intel-table-header {
    padding: 0; }

  .intel-table-subheader {
    margin-bottom: 0;
    margin-left: 0.75em; } }
/*** IE10 Fallback ***/
@media all and (-ms-high-contrast: none) {
  .intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-orange,
  .intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-orange,
  .intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-green,
  .intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-green,
  .intel-table.intel-table-zebra > tr:nth-child(even) td.intel-td-yellow,
  .intel-table.intel-table-zebra tbody tr:nth-child(even) td.intel-td-yellow {
    box-shadow: 0 0 4px #f7f8f9 inset; }

  .intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-orange,
  .intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-orange,
  .intel-table td.intel-td-orange,
  .intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-green,
  .intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-green,
  .intel-table td.intel-td-green,
  .intel-table.intel-table-zebra > tr:nth-child(odd) td.intel-td-yellow,
  .intel-table.intel-table-zebra tbody tr:nth-child(odd) td.intel-td-yellow,
  .intel-table td.intel-td-yellow {
    box-shadow: 0 0 4px white inset; } }
