/* --------------------------
 * PAGE & SECTION TITLE HEADERS
 * --------------------------
*/
.intel-hdr-section {
  background-color: #edeff0;
  border: 1px solid #d3d8db;
  display: block;
  font-size: 14px;
  margin: 1em 0 1em 0; }

.intel-hdr-section-order,
.intel-hdr-section-subtitle,
.intel-hdr-section-title {
  display: inline-block;
  font-weight: normal;
  font-weight: bold; }

.intel-hdr-section-order {
  background-color: white;
  border-color: white;
  border-radius: 1em;
  color: #53565a;
  font-size: 1.25em;
  margin: 0 -0.75em 0 1em;
  padding: 0.35em 0.5em 0.35em 0.25em;
  text-align: center; }

.intel-hdr-section-order.intel-bg-dark {
  background-color: #edeff0;
  border-color: #edeff0; }

.intel-hdr-section-title {
  color: #53565a;
  font-size: 1.5em;
  margin: 0.25em 0.5em 0.25em 0.5em;
  padding: 0.25em 0.5em 0.25em 0.5em; }

.intel-hdr-section-subtitle {
  border-left: 1px solid #d3d8db;
  color: #53565a;
  font-size: 1.25em;
  margin: 0;
  padding: 0.25em 0.5em 0.25em 1.25em; }

.intel-hdr-section.intel-bg-light {
  background-color: white; }

/*** Left Border (optional) ***/
.intel-hdr-section.intel-left-border:before {
  background: url("../images/circuit_549x549.png") -10px -338px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em; }

/*** Bottom Border ***/
.intel-hdr-section.intel-border-none {
  border-width: 0 0 2px 0; }

.intel-hdr-section.intel-border-blue,
.intel-hdr-section.intel-border-pale-blue,
.intel-hdr-section.intel-border-green,
.intel-hdr-section.intel-border-orange,
.intel-hdr-section.intel-border-yellow {
  border-bottom-width: 2px; }

.intel-hdr-section.intel-border-blue {
  border-bottom-color: #1891ee; }

.intel-hdr-section.intel-border-pale-blue {
  border-bottom-color: #7ed3f7; }

.intel-hdr-section.intel-border-green {
  border-bottom-color: #a6ce39; }

.intel-hdr-section.intel-border-orange {
  border-bottom-color: #fdb813; }

.intel-hdr-section.intel-border-yellow {
  border-bottom-color: #ffda00; }

/* --------------------------
 * RESPONSIVE Page and Section Titles
 * --------------------------
*/
@media (max-width: 480px) {
  .intel-hdr-section-title {
    border-right: 0; } }
@media (max-width: 320px) {
  .intel-hdr-section-title {
    margin-bottom: 0; }

  .intel-hdr-section-subtitle {
    display: none; } }
